body {
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* White text color */
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  .centered-heading {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    padding: 20px;
  }
  
  .centered-paragraph {
    text-align: center;
  }
  
  /* Falling heart emojis */
  .emoji {
    position: absolute;
    font-size: 24px;
    animation: fall 8s linear infinite;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-10%);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }
  